<!DOCTYPE html>
<html>
  <!-- head partial gets included here -->
  <%- include('./partials/head') -%>
  <body>
    <!-- Include menu here -->
    <%- include('./partials/menu') -%>

    <h1> Dashboard </h1>




  </body>
</html>