<!DOCTYPE html>
<html>
<!-- Include statement has head section -->
<%- include('./partials/head') -%>

<body>
    <!-- Include navigation menu -->
    <%- include('./partials/menu') -%>

   <h1> Sample register form </h1>
   <form name="SampleForm" action="/logintest" method="POST">
      <label for="username"> Username </label> <input type="test" name="username" id="username" required> <br>
      <label for="salt"> Enter salt </label> <input type="test" name="salt" id="salt" required> <br>
      <label for="pwd"> Enter a password: </label> <input type="password" name="pwd" id="pwd" required>
      <input type="submit" value="Submit form">

   </form>

</body>
</html>